.homepage {
    display: flex;

    .slider {
        width: 55%;
    }

    .form {
        width: 45%;
    }
}

@media (max-width:800px) {
    .homepage {
        display: flex;
        flex-direction: column;

        .slider {
            width: 100%;
        }

        .form {
            width: 100%;
        }
    }
}